<%= form_for(@dream) do |f| %>
  <div class="field">
    <%= f.label :name %><%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :scary %><%= f.check_box :scary %>
  </div>
  <div class="field">
    <%= f.label :fun %><%= f.check_box :fun %>
  </div>
  <div class="actions"><%= f.submit %></div>

  <% end %>