<h1>All Todos</h1>

  <% @todos.each do |todo| %>
    <h3><%= link_to todo.description, todo %></h3>
    <h4>Complete: <%= todo.complete %></h4>
    <h4>Date Due: <%= todo.date_due %></h4>
    <%= link_to "Edit Todo", edit_todo_path(todo) %>
    <%= link_to "Destroy Todo", todo, method: :delete, data: { confirm: 'Are You Sure?' } %>
  <% end %>

<%= link_to "New Todo", new_todo_path %>