<div class="todos">
<% @dreams.each do |todo| %>
	<h3> <%= todo.task%> </h3>
	<%= todo.complete %>
	<%= link_to todo.task, todo %>
	<%= todo.description %>
	<%= link_to "edit todo", edit_todo_path(todo) %>
	<%= link_to "destroy todo", todo, method: :delete, data:{confirm: "are you sure?"} %>
<% end %>
</div>
<div> <%= link_to "new todo", new_todo_path %> </div>