<h1>All To Do's</h1>
<div class="todos">
        <% @todos.each do |todo| %>
                <h3><%= link_to todo.name, todo %></h3>
                <%= link_to "edit todo", edit_todo_path(todo) %>
                <%= link_to "destroy todo", todo, method: :delete, data: { confirm: "Are you really done?"} %>
                <div>Completion Status: <%= todo.complete %></div>
        <% end %>
</div>

<br />
<%= link_to "New To Do", new_todo_path %>