<div class="todo_form">
<div><%= form_for(@todo) do |f| %>
	<div><%= f.label :task %><%= f.text_field :task %></div>
	<div><%= f.label :description %><%= f.text_area :description %></div>
	<div><%= f.label :complete %><%= f.check_box :complete %></div>
	<div><%= f.label :due_date %><%= f.date_field :due_date %></div>
	<div><%= f.submit %> </div>
<% end %>
</div>

