<%= form_for(@task) do |f| %>
	<div class="field"><%= f.label :description %><%= f.text_field :description%></div>
	<div class="field"><%= f.label :complete %><%= f.check_box :complete %></div>
	<div class="field"><%= f.label :due %><%= f.text_field :due %></div>

	<%= f.submit %>
<% end %>