<h1>Task Details</h1>

<div><%=@list.task %></div>
<div><%=@list.due_date %></div>
<div><%=@list.created_at %></div>
<div><%=@list.complete %></div>
<div><%=@list.notes %></div>
<div><%=@list.catagory %></div>
